{%- unless product.has_only_default_variant -%}
    {%- for option in product.options_with_values -%}
  

        <label for="ProductSelect-option-{{ forloop.index0 }}">
          {{ option.name | escape }}
        </label>
        <select id="ProductSelect-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
          {%- for value in option.values -%}
            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>
              {{ value | escape }}
            </option>
          {%- endfor -%}
        </select>

    {%- endfor -%}
{%- endunless -%}